extends layout

block added-scripts
	script(src='/javascripts/Main.js')

block content
	include loader
	div#main 
		div#map-container(	data-renderer= params.renderer, 
							data-scale= params.scale, 
							data-projectionKey= params.projectionKey,
							data-rotate= params.rotate,
							data-velocity= params.velocity,
							data-width= params.width,
							data-grid= params.grid,
							data-rotation= params.rotation,
							data-height= params.height,
							data-lines= params.lines	)
